 
 body{
background: url(https://images.unsplash.com/photo-1570475735025-6cd1cd5c779d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)center center/cover;;
height: 100vh;
overflow: hidden;
 }

 h3 {
    text-align: center;
    font-size: 27px;
    color: black;
   text-decoration: none;
   }

 .row{
     display: flex;
     justify-content: center;
    padding: 10px; 
    
 }
h2{
  text-align: center;
}

 a{
     text-decoration: none;
 }


ul{
    text-align: center;
    list-style-type: none;
   }
   

   ul li{
    
    display: inline-block;
    font-size: 30px;
   }
   
   ul li a{
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 3px 3px;
    border: 3px solid transparent;
   }
   
   ul li b{
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 3px 3px;
    border: 3px solid transparent;
   }
   
   ul li a:hover{
    background-color: transparent;
    
    color: lightgrey;
    padding: 3px 3px;
    border: 3px solid transparent;
   }

   